# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*-audit.json

# Dependency directories
node_modules/
jspm_packages/
package-lock.json
yarn.lock

# Runtime data
pids
*.pid
*.seed

# Miscellaneous
*.env
.yarn-integrity
.eslintcache
.npm
.tmp/
ormconfig.json
*.tsbuildinfo
config*.yml

# Build
dist/